.about-compony-text {
  margin-bottom: 20px; }

.text-bold {
  font-weight: bold; }

.title-purple {
  font-size: 21px;
  color: #6b1961;
  line-height: 25px;
  margin-bottom: 10px; }

.list-feature {
  padding-left: 20px;
  margin-bottom: 20px; }
  .list-feature li {
    margin-bottom: 8px; }

.up {
  text-transform: uppercase; }
